@import './variables.scss';

body {
  font-family: monospace !important;
  color: $foreground;
  transition: color 2s ease, background-color 2s ease;

  h1 {
    font-weight: 100 !important;
  }
}

.component-tag {
  color: $orange-highlight;

  &::before {
    content: '<';
    color: $foreground;
  }

  &::after {
    content: '/>';
    color: $foreground;
  }
}

.chevron {
  &::before {
    border-style: solid;
    border-width: 0.10em 0.10em 0 0;
    content: '';
    display: inline-block;
    height: 0.45em;
    left: 0.15em;
    position: relative;
    top: 5px;
    transform: rotate(-45deg);
    vertical-align: top;
    width: 0.45em;
  }

  &.right::before {
    top: 0px;
    transform: rotate(45deg);
  }

  &.bottom:before {

    top: 5px;
    transform: rotate(135deg);
  }

  &.left:before {
    left: 0.25em;
    transform: rotate(-135deg);
  }
}

.flex {
  display: flex;
  gap: 8px;
}

.justified-inline {
  display: flex;
  justify-content: space-between;
}
