$background: #313340;
$foreground: #9f9fb7;
$foreground-light: #9f9fb781;
$orange-highlight: #edce95;
$red-highlight: #ab5452;
$super-orange-highlight: #2983f8;
$blue-highlight: #2983f8;
$green-highlight: #8dea9e;
$green: #00cc96;
$cursor: #4a76d6;