$background: #313340;
$background-dark: rgb(33, 37, 43);
$background-light: #d1d3de;
$background-light-through: rgba(53, 55, 69, 1);
$border: #ffffff08;
$foreground: #9f9fb7;
$foreground-light: #9f9fb781;
$orange-highlight: #edce95;
$red-highlight: #ab5452;
$super-orange-highlight: #2983f8;
$blue-highlight: #2983f8;
$green-highlight: #62cc75;
$green: #00cc96;
$cursor: #4a76d6;
$screen-md-min: 768px;
$screen-sm-min: 576px;


$light-foreground: #383a42;
$light-foreground-light: #9da0aa;
$light-background-dark: rgba(234, 234, 235, 0.5);
$light-background: #fafafa;
$light-blue-highlight: #4078f2;
$light-orange-highlight: #d48a00;
$light-skill-bg: rgba(56, 58, 66, 0.05);
$light-border: rgb(233, 233, 233);

$main-color: #f5cd38;
