@import '../../styles/variables.scss';
@import '../../styles/main.scss';

.experience-item-cv {

  &__content {
    white-space: break-spaces;
  }

  &__skills {
    margin-top: 8px;

    strong {
      font-weight: bold;
      opacity: 0.6;
    }
  }

  &__location {
    font-style: italic;
    margin: 0 0 10px;
    opacity: 0.5;
  }

  .header {
    color: 'red';
    display: flex;
    gap: 8px;
    align-items: baseline;
    margin-bottom: 4px;
    justify-content: space-between;
    border-bottom: 1px dotted rgb(57, 57, 57);
  }

  .experience-chevron::before {
    border-style: solid;
    border-width: 0.1em 0.1em 0 0;
    content: '';
    display: inline-block;
    height: 0.45em;
    left: 7px;
    position: relative;
    top: 18px;
    transform: rotate(-45deg);
    vertical-align: top;
    width: 0.45em;
  }

  .experience-chevron.right:before {
    left: -25px;
    transform: rotate(135deg);
  }

  .experience-chevron.bottom:before {
    left: -27px;
    top: 22px;
    transform: rotate(315deg);
  }

  .experience-chevron.left:before {
    transform: rotate(-135deg);
  }

  .expand-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    transition: opacity 0.4s ease-in-out;
    transition-delay: 0;
    padding: 4px 8px;
    margin: 8px auto 0;
    position: relative;
    display: block;
    opacity: 0;
  }

  .description-wrapper {
    cursor: pointer;
    display: block;
    align-items: center;
    padding: 4px 4px 24px;
    ;
    border-radius: 4px;
    margin: -4px;

    &:hover {
      border: 2px dashed $main-color;
      margin: 0;
      margin: -6px;

      .expand-button {
        transition-delay: 0.4s;
        opacity: 1;
      }
    }
  }
}
