@import '../../../styles/variables.scss';
@import '../../../styles/main.scss';
.intro-text {
  &.finished {
    color: $super-orange-highlight !important;
  }
  padding: 4px 32px;
}
.intro-container {
  overflow: auto;
  width: 100%;
  background-color: $background;
  font-family: Operator Mono;
  padding: 0;
  min-height: 100vh;

  .scroll-down {
    margin-left: 32px;
    span {
      background-color: $red-highlight;
      color: white;
      width: 204px;
    }
  }
  .obj {
    white-space: pre-wrap;
    color: $foreground;
    .property {
      color: $red-highlight;
    }
    .string {
      color: $green-highlight;
    }
    .number {
      color: $orange-highlight;
    }
  }
  a {
    color: $blue-highlight;
  }
  .contact-links {
    color: $foreground;
  }
}

.arrow {
  text-align: center;
  margin: 8% 0;
}
.bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

.Cursor--blinking {
  background: $cursor;
  font-weight: bold;
  position: relative;
  top: 5px;
  min-width: 2px;
  min-height: 15px;
  display: inline-block;
  animation-name: blinker;
  animation-duration: 0.7s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  @keyframes blinker {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}

.soft-transition {
  transition: opacity 2s ease;
}
