@import '../../../styles/variables.scss';

.home-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $background;
  -webkit-overflow-scrolling: touch;
  height: 100vh;
  overflow: auto;
  .intro {
    justify-content: space-around;
    display: flex;
    min-height: 1000px;
  }
}

.huge {
  min-height: 2000px;
  min-width: 20px;
  background-color: $background;
}
body {
  overflow: hidden;
}
