@import '../../styles/main.scss';

@media (max-width: 768px) {
  .section {
    margin: 0 8px 0 16px !important;
    max-width: calc(100vw - 60px);
    overflow-x: hidden;
  }
}

.section {
  margin: 0 16px 0 32px;
  border-left: 1px solid $border;
  position: relative;

  &.light {
    border-left: 1px solid $light-border;

    .title {
      span {
        background-color: $light-background !important;
        color: $light-orange-highlight !important;
      }
    }

    .description {
      background-color: $light-background !important;
      color: $light-foreground-light !important;
    }

    .content {
      &.padding {
        border-left: 1px solid $light-border;
      }
    }
  }

  .anchor {
    position: absolute;
    top: 0px;
    left: 0;
  }

  .content {
    margin-left: 32px;
    padding-bottom: 32px;

    @media (max-width: 768px) {
      margin-left: 18px;
      padding-bottom: 18px;
    }

    &.padding {
      border-left: 1px solid $border;
    }
  }

  .title {
    span {
      color: $orange-highlight;
      background-color: $background;
      margin-left: -1px;
      padding-left: 1px;

      &::before {
        content: '<';
      }

      &::after {
        content: '>';
      }
    }

    &.closing {

      span {
        &::before {
          content: '</';
        }
      }
    }
  }

  .description {
    margin-left: -13px;
    display: flex;
    background-color: $background;
    color: $foreground-light;

    &::before {

      content: none;
    }

    &::after {
      content: none;
    }
  }
}
