@import '../../styles/main.scss';

.section {
  margin: 0 16px 0 32px;
  border-left: 1px solid #ffffff08;
  position: relative;
  .anchor {
    position: absolute;
    top: -20px;
    left: 0;
  }
  .content {
    margin-left: 32px;
    padding-bottom: 32px;
    &.big {
    }
    &.padding {
      border-left: 1px solid #ffffff08;
    }
  }
  .title {
    span {
      color: $orange-highlight;
      background-color: $background;
      margin-left: -1px;
      padding-left: 1px;
      &::before {
        content: '<';
        color: $foreground;
      }
      &::after {
        content: '>';
        color: $foreground;
      }
    }
    &.closing {
      // text-align: right;
      span {
        &::after {
          content: '/>';
          color: $foreground;
        }
      }
    }
  }
  .description {
    margin-left: -1px;
    padding-left: 1px;
    background-color: $background;
    &::before {
      content: none;
    }
    &::after {
      content: none;
    }
    color: $foreground-light;
  }
}
