@import '../../styles/main.scss';

.section {
  margin: 0 32px;
  .content {
    margin: 0 32px;
    &.big{ 
      min-height: 500px;
    }
  }
  .title {
    width: 100%;
    span {
      color: $orange-highlight;
      &::before {
        content: '<';
        color: $foreground;
      }
      &::after {
        content: '>';
        color: $foreground;
      }
    }
    &.closing {
      // text-align: right;
      span {
        &::after {
          content: '/>';
          color: $foreground;
        }
      }
    }
    .description{
      &::before{
        content: none;
      }
      &::after{
        content: none;
      }
      color: $foreground-light
    }
  }
}
