@import '../../styles/variables.scss';
@import '../../styles/main.scss';

.intro-text {
  margin-top: 32px;
  padding: 4px 32px;

  &.finished {
    color: $super-orange-highlight !important;
  }
}

.intro-container {
  overflow: auto;
  width: 100%;
  font-family: monospace;
  padding: 0;
  min-height: 100vh;
  position: relative;
  & .profile-pic {
    margin: 32px;
    img {
      border: 2px solid $foreground;
      border-radius: 50%;
      width: 150px;
      height: 150px;
      object-fit: cover;
      opacity: 0.8;
      filter: grayscale(20%);
    }
  }
  &.light {
    .contact {
      $light-contact-border: 1px solid $light-border;
      border-top: $light-contact-border !important;
      border-bottom: $light-contact-border !important;
    }
  }

  .contact {
    $contact-border: 1px solid $border;
    margin: auto;
    text-align: left;
    font-size: 14px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0px;
    border-top: $contact-border;
    padding: 16px 0 16px 32px;
    border-bottom: $contact-border;

    div.social-icons {
      width: 180px;
      justify-content: space-between;
      display: flex;
      margin-left: -10px;
      svg .social-svg-icon {
        path {
          fill: $foreground;
        }
      }
    }
    span {
      color: $green-highlight;
    }
  }

  .scroll-down {
    margin-left: 32px;
    span {
      background-color: $red-highlight;
      color: white;
      width: 204px;
    }
  }
  .obj {
    white-space: pre-wrap;
    color: $foreground;
    .property {
      color: $red-highlight;
    }
    .string {
      color: $green-highlight;
    }
    .number {
      color: $orange-highlight;
    }
  }
  a {
    color: $blue-highlight;
  }
  .contact-links {
    color: $foreground;
  }
}

.arrow {
  text-align: center;
  margin: 8% 0;
}
.bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

.Cursor--blinking {
  background: $cursor;
  font-weight: bold;
  position: relative;
  top: 5px;
  min-width: 2px;
  min-height: 15px;
  display: inline-block;
  animation-name: blinker;
  animation-duration: 0.7s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  @keyframes blinker {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}

.soft-transition {
  transition: opacity 2s ease;
}
